{
  "openapi": "3.0.1",
  "info": {
    "title": "Visa Transaction Controls",
    "description": "",
    "version": "1"
  },
  "servers": [
    {
      "url": "https://sandbox.api.visa.com",
      "description": "Sandbox server"
    }
  ],
  "security": [],
  "tags": [
    {
      "name": "Alert History and Customer Profiles API",
      "description": "The Alert History and Customer Profile APIs are used to manage customer profiles and their contact information for issuers who participate in the Visa Alert Delivery Service. All issuers can use this API to retrieve a history of VTC notifications. NOTE: Solutions should be designed to accept new attributes and error codes when introduced without them adversely impacting existing functionality."
    },
    {
      "name": "Authorization Decision API",
      "description": "The Authorization Decision API enables an authorization processor to request an authorization decision recommendation based on cardholder rules configured in consumer transaction controls.  In addition, the API enables the authorization processor to update an authorization decision with the actual decision that was rendered. "
    },
    {
      "name": "Customer Rules API",
      "description": "The Customer Rules API is used to enroll, configure and retrieve an account&apos;s card control settings.  NOTE: Solutions should be designed to accept new attributes and error codes when intoducecd without them adversely impacting existing functionality."
    },
    {
      "name": "Enrollment Callback API",
      "description": "The Transaction Controls Client Host Callback API will be hosted external to Visa. Card Enrollment callback will be hosted by the authorizing agent."
    },
    {
      "name": "Notification Delivery Callback API",
      "description": "The Transaction Controls  Client Host Callback API will be hosted external to Visa.  Card Enrollment callback will be hosted by the authorizing agent.  Alert notification callback will be hosted by the application service responsible for delivering notifications to the consumer."
    },
    {
      "name": "Program Administration API",
      "description": "The Transaction Controls Program Administration API enables Issuers to change program configurations for their sponsorID."
    }
  ],
  "paths": {
    "/ConsumerTransactionControls/v1/notifications": {
      "post": {
        "tags": [
          "Notification Delivery Callback API"
        ],
        "summary": "Alert Notification",
        "description": "Alert Notification",
        "operationId": "Alert Notification",
        "requestBody": {
          "description": "payload",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertNotificationDeliveryCallbackPayload"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "transactionType": [
                      "TCT_ATM_WITHDRAW",
                      "TCT_CROSS_BORDER"
                    ],
                    "transactionDetails": {
                      "cardholderBillAmount": 100,
                      "userIdentifier": "abhi@hotmail.com",
                      "billerCurrencyCode": "840",
                      "requestReceivedTimeStamp": "2017-11-29 19:57:25.174",
                      "userInformation": {
                        "applicationDefinedAttributes": [
                          "Any attribute as stored on customer rules"
                        ],
                        "bankingIdentifier": "BID12341122",
                        "name": "Joe Williams"
                      },
                      "primaryAccountNumber": "xxxxxxxxxxxx1121",
                      "merchantInfo": {
                        "city": " Highlands Ranch ",
                        "countryCode": "USA",
                        "postalCode": "80122",
                        "transactionAmount": 10,
                        "merchantCategoryCode": "5411",
                        "name": "King Sooper",
                        "addressLines": [
                          " 6675 Business Center Dr "
                        ],
                        "region": "CO",
                        "currencyCode": "840"
                      },
                      "transactionID": "121343432003332"
                    },
                    "transactionOutcome": {
                      "ctcDocumentID": "ctc-ip-d484dc28-ac64-48f9-86f2-468a27e0eec7",
                      "decisionResponseTimeStamp": "2017-03-29 19:57:25.251",
                      "transactionApproved": "DECLINED",
                      "alertDetails": [
                        {
                          "triggeringAppID": "04323ae8-45aa-4553-a808-8ef54157d0b6",
                          "ruleCategory": "PCT_TRANSACTION",
                          "userIdentifier": "joe5280@hotmail.com",
                          "alertReason": "DECLINE_ALL",
                          "ruleType": "TCT_ATM_WITHDRAW",
                          "userInformation": {
                            "applicationDefinedAttributes": [
                              "Any attribute as stored on customer rules"
                            ],
                            "bankingIdentifier": "BID12341122",
                            "name": "Joe Williams"
                          },
                          "controlTargetType": "string"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "payload",
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1ConsumerTransactionControls~1v1~1notifications/post",
            "default": false
          }
        ],
        "x-hideSample": true
      }
    },
    "/ConsumerTransactionControls/v1/notifications/pushNotification": {
      "post": {
        "tags": [
          "Notification Delivery Callback API"
        ],
        "summary": "Push Notification",
        "description": "Push Notification",
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1ConsumerTransactionControls~1v1~1notifications~1pushNotification/post",
            "default": false
          }
        ],
        "x-hideSample": true,
        "x-hideTryIt": true
      }
    },
    "/vctc/validation/v1/decisions/{decisionID}": {
      "get": {
        "tags": [
          "Authorization Decision API"
        ],
        "summary": "Retrieve the details of a specific decision record",
        "description": "Retrieve the details of a specific decision record",
        "operationId": "getDecisionByDecisionIdUsingGET",
        "parameters": [
          {
            "name": "decisionID",
            "in": "path",
            "description": "The ID of the document for the document to be returned",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "showControlsSnapShot",
            "in": "query",
            "description": "This flag is required to view the controls snap shot at the time of processing the decision.",
            "required": false,
            "allowEmptyValue": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionResourceOfDecisionDocument-5"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "receivedTimestamp": "2022-05-25 18:50:11.079",
                      "resource": {
                        "decisionResponse": {
                          "decisionResponseTimeStamp": "2022-05-25 18:50:10",
                          "declineRuleCategory": "PCT_GLOBAL",
                          "declineRuleDetail": {
                            "triggeringAppID": "fae99da2-095d-438a-bcc2-4696eed1b846",
                            "ruleCategory": "PCT_GLOBAL",
                            "userIdentifier": "4991108855939046",
                            "alertReason": "DECLINE_TRANS_LIMIT",
                            "ruleType": "NONE",
                            "controlTargetType": "CARD_LEVEL"
                          },
                          "shouldAlert": true,
                          "alertsRuleDetail": [
                            {
                              "triggeringAppID": "fae99da2-095d-438a-bcc2-4696eed1b846",
                              "ruleCategory": "PCT_GLOBAL",
                              "userIdentifier": "4991108855939046",
                              "alertReason": "DECLINE_TRANS_LIMIT",
                              "ruleType": "NONE",
                              "controlTargetType": "CARD_LEVEL"
                            }
                          ],
                          "shouldDecline": true
                        },
                        "primaryAccountNumber": "xxxx-xxxx-xxxx-9046",
                        "decisionID": "v-304-9e840f4c-1dd5-4579-b2b2-9c1e28a2a43c",
                        "decisionRequest": {
                          "pointOfServiceInfo": {
                            "securityCondition": "NO_SECURITY_CONCERN",
                            "personalIdentificationNumberEntryMode": "UNKNOWN",
                            "primaryAccountNumberEntryMode": "UNKNOWN",
                            "terminalClass": {
                              "isAttended": true,
                              "howOperated": "CUSTOMER_OPERATED",
                              "deviceLocation": "ON_PREMISE"
                            },
                            "presentationData": {
                              "isCardPresent": true,
                              "howPresented": "CUSTOMER_PRESENT"
                            },
                            "terminalEntryCapability": "UNKNOWN",
                            "terminalType": "ATM"
                          },
                          "cardholderBillAmount": 1000,
                          "messageType": "0100",
                          "billerCurrencyCode": "978",
                          "processingCode": "010000",
                          "cardDetail": {
                            "nameOnCard": "hhh",
                            "sequenceOnCard": "3"
                          },
                          "decisionType": "COMPLETE",
                          "decisionRequestTimeStamp": "2022-05-25 18:50:10",
                          "retrievalReferenceNumber": "1101000000",
                          "merchantInfo": {
                            "city": "Highlands Ranch",
                            "countryCode": "USA",
                            "postalCode": "80129",
                            "transactionAmount": 1000,
                            "merchantCategoryCode": "5942",
                            "cardAcceptorTerminalID": "3101000000",
                            "name": "COSTCO",
                            "addressLines": [
                              "ParkMeadows"
                            ],
                            "region": "CO",
                            "currencyCode": "756"
                          },
                          "dateTimeLocal": "0101000000",
                          "transactionID": "2101000000"
                        },
                        "decisionUpdate": {
                          "transactionApproved": "DECLINED",
                          "lastUpdateTimeStamp": "2022-05-25 18:50:10.645",
                          "decisionType": "COMPLETE"
                        }
                      },
                      "processingTimeinMs": 2
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1vctc~1validation~1v1~1decisions~1{decisionID}/get",
            "default": false
          }
        ],
        "x-hideTryIt": true
      },
      "put": {
        "tags": [
          "Authorization Decision API"
        ],
        "summary": "Update the state of a specific decision record",
        "description": "Update the state of a specific decision record",
        "operationId": "updateDecisionByDecisionIDUsingPUT",
        "parameters": [
          {
            "name": "decisionID",
            "in": "path",
            "description": "The ID of the document for the document to be updated",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "decisionUpdate",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DecisionUpdateRequest"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "transactionApproved": "DECLINED",
                    "decisionType": "COMPLETE",
                    "isDeclineResultOfTransactionControl": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionResourceOfDecisionUpdateModel"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "receivedTimestamp": "2017-03-27 15:18:51.91",
                      "resource": {
                        "transactionApproved": "DECLINED",
                        "lastUpdateTimeStamp": "2017-03-27 15:18:51",
                        "decisionType": "COMPLETE",
                        "isDeclineResultOfTransactionControl": true
                      },
                      "processingTimeinMs": 147
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "decisionUpdate",
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1vctc~1validation~1v1~1decisions~1{decisionID}/put",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/vctc/validation/v1/decisions/cardinquiry": {
      "post": {
        "tags": [
          "Authorization Decision API"
        ],
        "summary": "Retrieve a list of decision records for a card",
        "description": "Retrieve a list of decision records for a card",
        "operationId": "getDecisionHistoryByCardUsingPOST",
        "requestBody": {
          "description": "decisionHistoryRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DecisionHistoryRequest"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "paginationData": {
                      "pageLimit": "10",
                      "startIndex": "1"
                    },
                    "primaryAccountNumber": "4514170000000001"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionResourceOfDecisionHistoryResponse-1"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "receivedTimestamp": "string",
                      "resource": {
                        "paginationData": {
                          "pageLimit": "string",
                          "startIndex": "string",
                          "lastPage": true,
                          "firstPage": true,
                          "recordCount": 0,
                          "totalPages": 0,
                          "totalCount": 0
                        },
                        "decisionDocument": [
                          {
                            "paymentToken": "string",
                            "decisionResponse": {
                              "decisionResponseTimeStamp": "string",
                              "declineRuleType": "string",
                              "impulseDelayExpired": true,
                              "flexResponse": {
                                "controlType": "string",
                                "secondaryCredential": {
                                  "documentId": "string",
                                  "primaryAccountNumber": "string",
                                  "expirationDate": {
                                    "mm": "string",
                                    "yy": "string"
                                  }
                                },
                                "primaryCredential": {
                                  "documentId": "string",
                                  "primaryAccountNumber": "string",
                                  "expirationDate": {
                                    "mm": "string",
                                    "yy": "string"
                                  }
                                },
                                "ruleId": "string"
                              },
                              "declineRuleCategory": "string",
                              "declineControlTargetType": "string",
                              "responseMessage": "CARD_NOT_ENROLLED",
                              "declineRuleDetail": {
                                "triggeringAppID": "string",
                                "ruleCategory": "PCT_GLOBAL",
                                "thresholdAmount": 0,
                                "userIdentifier": "string",
                                "alertReason": " DECLINE_TRANS_LIMIT",
                                "ruleType": "TCT_ATM_WITHDRAW",
                                "userInformation": {
                                  "applicationDefinedAttributes": [
                                    "string"
                                  ],
                                  "bankingIdentifier": "string",
                                  "name": "string"
                                },
                                "controlTargetType": "string"
                              },
                              "shouldAlert": true,
                              "declineThresholdAmount": 0,
                              "alertsRuleDetail": [
                                {
                                  "triggeringAppID": "string",
                                  "ruleCategory": "PCT_GLOBAL",
                                  "thresholdAmount": 0,
                                  "userIdentifier": "string",
                                  "alertReason": "DECLINE_TRANS_LIMIT",
                                  "ruleType": "TCT_ATM_WITHDRAW",
                                  "userInformation": {
                                    "applicationDefinedAttributes": [
                                      "string"
                                    ],
                                    "bankingIdentifier": "string",
                                    "name": "string"
                                  },
                                  "controlTargetType": "string"
                                }
                              ],
                              "shouldDecline": true
                            },
                            "transactionControlsnapshot": [
                              {
                                "globalControls": [
                                  {
                                    "shouldDeclineAll": false,
                                    "declineThreshold": 0,
                                    "isControlEnabled": true,
                                    "userIdentifier": "string",
                                    "alertThreshold": 0,
                                    "declineAllNonTokenizeTransactions": true,
                                    "userInformation": {
                                      "applicationDefinedAttributes": [
                                        "string"
                                      ],
                                      "bankingIdentifier": "string",
                                      "name": "string"
                                    },
                                    "spendLimit": {
                                      "startDateTime": "string",
                                      "declineThreshold": 0,
                                      "timeZoneID": "string",
                                      "alertThreshold": 0,
                                      "type": "LMT_MONTH",
                                      "endDateTime": "string",
                                      "currentPeriodSpend": 0,
                                      "recurringCycleTime": 0
                                    },
                                    "transactionLimit": {
                                      "currentTransactionCount": 4,
                                      "maxTransactionCount": 6
                                    },
                                    "filterByCountry": {
                                      "controlDisabledCountryList": [
                                        "string"
                                      ],
                                      "controlEnabledCountryList": [
                                        "string"
                                      ]
                                    },
                                    "shouldAlertOnDecline": true,
                                    "timeRange": {
                                      "timeZoneID": "string",
                                      "startTime": "string",
                                      "endTime": "string"
                                    }
                                  }
                                ],
                                "shouldDecouple": true,
                                "lastUpdateTimeStamp": "string",
                                "documentID": "string",
                                "createdOnDate": "string"
                              }
                            ],
                            "primaryAccountNumber": "string",
                            "decisionID": "string",
                            "decisionRequest": {
                              "serviceType": [
                                "CTC"
                              ],
                              "pointOfServiceInfo": {
                                "securityCondition": "NO_SECURITY_CONCERN",
                                "personalIdentificationNumberEntryMode": "UNKNOWN",
                                "primaryAccountNumberEntryMode": "UNKNOWN",
                                "terminalClass": {
                                  "isAttended": true,
                                  "howOperated": "CUSTOMER_OPERATED",
                                  "deviceLocation": "ON_PREMISE"
                                },
                                "presentationData": {
                                  "isCardPresent": true,
                                  "howPresented": "CUSTOMER_PRESENT"
                                },
                                "terminalEntryCapability": "UNKNOWN",
                                "terminalType": "POS_TERMINAL"
                              },
                              "transactionTypes": [
                                "TCT_OCT"
                              ],
                              "processingCode": "string",
                              "decisionRequestTimeStampInMs": "string",
                              "retrievalReferenceNumber": "string",
                              "fxInfo": {
                                "crossCurrencyIndicator": true,
                                "visaExchangeRate": 0
                              },
                              "merchantInfo": {
                                "city": "string",
                                "countryCode": "string",
                                "postalCode": "string",
                                "transactionAmount": 0,
                                "merchantCategoryCode": "string",
                                "cardAcceptorTerminalID": "string",
                                "name": "string",
                                "addressLines": [
                                  "string"
                                ],
                                "region": "string",
                                "currencyCode": "string"
                              },
                              "transactionID": "string",
                              "cardholderBillAmount": 0,
                              "messageType": "0100",
                              "billerCurrencyCode": "string",
                              "cardDetail": {
                                "nameOnCard": "string",
                                "sequenceOnCard": "string"
                              },
                              "decisionType": "RECOMMENDED",
                              "decisionRequestTimeStamp": "string",
                              "dateTimeLocal": "string",
                              "wasProcessorDeclined": true
                            },
                            "decisionUpdate": {
                              "transactionApproved": "DECLINED",
                              "cardholderBillAmount": 0,
                              "declineResponseCode": "string",
                              "billerCurrencyCode": "string",
                              "lastUpdateTimeStamp": "string",
                              "transactionAmount": 0,
                              "decisionType": "COMPLETE",
                              "isDeclineResultOfTransactionControl": true
                            }
                          }
                        ],
                        "status": "AVAILABLE_RECORDS"
                      },
                      "processingTimeinMs": 0
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "decisionHistoryRequest",
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1vctc~1validation~1v1~1decisions~1cardinquiry/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/vctc/validation/v1/decisions/history": {
      "get": {
        "tags": [
          "Authorization Decision API"
        ],
        "summary": "Retrieve a list of decision records for a sponsor",
        "description": "Retrieve a list of decision records for a sponsor",
        "operationId": "getDecisionHistoryBySponsorUsingGET",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Page size to be returned",
            "required": true,
            "allowEmptyValue": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to be returned",
            "required": true,
            "allowEmptyValue": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionResourceOfDecisionHistoryResponse-2"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "receivedTimestamp": "string",
                      "resource": {
                        "paginationData": {
                          "pageLimit": "string",
                          "startIndex": "string",
                          "lastPage": true,
                          "firstPage": true,
                          "recordCount": 0,
                          "totalPages": 0,
                          "totalCount": 0
                        },
                        "decisionDocument": [
                          {
                            "paymentToken": "string",
                            "decisionResponse": {
                              "decisionResponseTimeStamp": "string",
                              "declineRuleType": "string",
                              "impulseDelayExpired": true,
                              "flexResponse": {
                                "controlType": "string",
                                "secondaryCredential": {
                                  "documentId": "string",
                                  "primaryAccountNumber": "string",
                                  "expirationDate": {
                                    "mm": "string",
                                    "yy": "string"
                                  }
                                },
                                "primaryCredential": {
                                  "documentId": "string",
                                  "primaryAccountNumber": "string",
                                  "expirationDate": {
                                    "mm": "string",
                                    "yy": "string"
                                  }
                                },
                                "ruleId": "string"
                              },
                              "declineRuleCategory": "string",
                              "declineControlTargetType": "string",
                              "responseMessage": "CARD_NOT_ENROLLED",
                              "declineRuleDetail": {
                                "triggeringAppID": "string",
                                "ruleCategory": "PCT_GLOBAL",
                                "thresholdAmount": 0,
                                "userIdentifier": "string",
                                "alertReason": " DECLINE_TRANS_LIMIT ",
                                "ruleType": "TCT_ATM_WITHDRAW",
                                "userInformation": {
                                  "applicationDefinedAttributes": [
                                    "string"
                                  ],
                                  "bankingIdentifier": "string",
                                  "name": "string"
                                },
                                "controlTargetType": "string"
                              },
                              "shouldAlert": true,
                              "declineThresholdAmount": 0,
                              "alertsRuleDetail": [
                                {
                                  "triggeringAppID": "string",
                                  "ruleCategory": "PCT_GLOBAL",
                                  "thresholdAmount": 0,
                                  "userIdentifier": "string",
                                  "alertReason": "DECLINE_TRANS_LIMIT",
                                  "ruleType": "TCT_ATM_WITHDRAW",
                                  "userInformation": {
                                    "applicationDefinedAttributes": [
                                      "string"
                                    ],
                                    "bankingIdentifier": "string",
                                    "name": "string"
                                  },
                                  "controlTargetType": "string"
                                }
                              ],
                              "shouldDecline": true
                            },
                            "transactionControlsnapshot": [
                              {
                                "globalControls": [
                                  {
                                    "shouldDeclineAll": false,
                                    "declineThreshold": 0,
                                    "isControlEnabled": true,
                                    "userIdentifier": "string",
                                    "alertThreshold": 0,
                                    "declineAllNonTokenizeTransactions": true,
                                    "userInformation": {
                                      "applicationDefinedAttributes": [
                                        "string"
                                      ],
                                      "bankingIdentifier": "string",
                                      "name": "string"
                                    },
                                    "spendLimit": {
                                      "startDateTime": "string",
                                      "declineThreshold": 0,
                                      "timeZoneID": "string",
                                      "alertThreshold": 0,
                                      "type": "LMT_MONTH",
                                      "endDateTime": "string",
                                      "currentPeriodSpend": 0,
                                      "recurringCycleTime": 0
                                    },
                                    "transactionLimit": {
                                      "currentTransactionCount": 4,
                                      "maxTransactionCount": 6
                                    },
                                    "filterByCountry": {
                                      "controlDisabledCountryList": [
                                        "string"
                                      ],
                                      "controlEnabledCountryList": [
                                        "string"
                                      ]
                                    },
                                    "shouldAlertOnDecline": true,
                                    "timeRange": {
                                      "timeZoneID": "string",
                                      "startTime": "string",
                                      "endTime": "string"
                                    }
                                  }
                                ],
                                "shouldDecouple": true,
                                "lastUpdateTimeStamp": "string",
                                "documentID": "string",
                                "createdOnDate": "string"
                              }
                            ],
                            "primaryAccountNumber": "string",
                            "decisionID": "string",
                            "decisionRequest": {
                              "serviceType": [
                                "CTC"
                              ],
                              "pointOfServiceInfo": {
                                "securityCondition": "NO_SECURITY_CONCERN",
                                "personalIdentificationNumberEntryMode": "UNKNOWN",
                                "primaryAccountNumberEntryMode": "UNKNOWN",
                                "terminalClass": {
                                  "isAttended": true,
                                  "howOperated": "CUSTOMER_OPERATED",
                                  "deviceLocation": "ON_PREMISE"
                                },
                                "presentationData": {
                                  "isCardPresent": true,
                                  "howPresented": "CUSTOMER_PRESENT"
                                },
                                "terminalEntryCapability": "UNKNOWN",
                                "terminalType": "POS_TERMINAL"
                              },
                              "transactionTypes": [
                                "TCT_OCT"
                              ],
                              "processingCode": "string",
                              "decisionRequestTimeStampInMs": "string",
                              "retrievalReferenceNumber": "string",
                              "fxInfo": {
                                "crossCurrencyIndicator": true,
                                "visaExchangeRate": 0
                              },
                              "merchantInfo": {
                                "city": "string",
                                "countryCode": "string",
                                "postalCode": "string",
                                "transactionAmount": 0,
                                "merchantCategoryCode": "string",
                                "cardAcceptorTerminalID": "string",
                                "name": "string",
                                "addressLines": [
                                  "string"
                                ],
                                "region": "string",
                                "currencyCode": "string"
                              },
                              "transactionID": "string",
                              "cardholderBillAmount": 0,
                              "messageType": "0100",
                              "billerCurrencyCode": "string",
                              "cardDetail": {
                                "nameOnCard": "string",
                                "sequenceOnCard": "string"
                              },
                              "decisionType": "RECOMMENDED",
                              "decisionRequestTimeStamp": "string",
                              "dateTimeLocal": "string",
                              "wasProcessorDeclined": true
                            },
                            "decisionUpdate": {
                              "transactionApproved": "APPROVED",
                              "cardholderBillAmount": 0,
                              "declineResponseCode": "string",
                              "billerCurrencyCode": "string",
                              "lastUpdateTimeStamp": "string",
                              "transactionAmount": 0,
                              "decisionType": "COMPLETE",
                              "isDeclineResultOfTransactionControl": true
                            }
                          }
                        ],
                        "status": "AVAILABLE_RECORDS"
                      },
                      "processingTimeinMs": 0
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1vctc~1validation~1v1~1decisions~1history/get",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/vctc/validation/v1/preevaluations": {
      "post": {
        "tags": [
          "Authorization Decision API"
        ],
        "summary": "Request a Pre-Evaluation recommendation on a transaction before it is run",
        "description": "Request a Pre-Evaluation recommendation on a transaction before it is run",
        "operationId": "createPreEvaluationDecisionDocumentUsingPOST",
        "requestBody": {
          "description": "preEvaluationRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreEvalDecisionRequest-3"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "pointOfServiceInfo": {
                      "securityCondition": "IDENTIFICATION_VERIFIED",
                      "terminalClass": {
                        "isAttended": false,
                        "howOperated": "CUSTOMER_OPERATED",
                        "deviceLocation": "ON_PREMISE"
                      },
                      "presentationData": {
                        "isCardPresent": true,
                        "howPresented": "CUSTOMER_PRESENT"
                      },
                      "terminalEntryCapability": "MAG_STRIPE_READ",
                      "terminalType": "POS_TERMINAL"
                    },
                    "cardholderBillAmount": 100,
                    "messageType": "0100",
                    "processingCode": "000000",
                    "decisionType": "PREEVAL",
                    "primaryAccountNumber": "4514170000000001",
                    "retrievalReferenceNumber": "000000000002",
                    "merchantInfo": {
                      "city": "Highlands Ranch",
                      "countryCode": "USA",
                      "postalCode": "80130",
                      "merchantCategoryCode": "5310",
                      "name": "POS at ",
                      "addressLines": [
                        "6675 Business Center Dr"
                      ],
                      "region": "CO",
                      "currencyCode": "840"
                    },
                    "dateTimeLocal": "0322080000"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionResourceOfDecisionResponseType"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "receivedTimestamp": "2017-05-04 07:56:19.978",
                      "resource": {
                        "decisionResponse": {
                          "decisionResponseTimeStamp": "2017-05-04 07:56:20",
                          "declineRuleType": "TCT_BRICK_AND_MORTAR",
                          "declineRuleCategory": "PCT_TRANSACTION",
                          "declineThresholdAmount": 100,
                          "shouldDecline": true
                        },
                        "decisionID": "ctc-vd-c2c7c572-d3a9-4b09-9dac-f668aed688b5"
                      },
                      "processingTimeinMs": 61
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "preEvaluationRequest",
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1vctc~1validation~1v1~1preevaluations/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/vctc/validation/v1/consumertransactioncontrols/decisioninquiry": {
      "post": {
        "tags": [
          "Authorization Decision API"
        ],
        "summary": "Retrieve a list of decision records by reterivalReferenceNumber",
        "description": "Retrieve a list of decision records by reterivalReferenceNumber",
        "operationId": "getDecisionDocumentByRefNumberUsingPOST",
        "requestBody": {
          "description": "decisionRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DecisionRequestType"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "cardAcceptorTerminalID": "string",
                    "retrievalReferenceNumber": "000000000002",
                    "dateTimeLocal": "0322080000"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionResourceOfGetDecisionDocument-4"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "receivedTimestamp": "string",
                      "resource": {
                        "paginationData": {
                          "pageLimit": "string",
                          "startIndex": "string",
                          "lastPage": true,
                          "firstPage": true,
                          "recordCount": 0,
                          "totalPages": 0,
                          "totalCount": 0
                        },
                        "decisionDocument": [
                          {
                            "paymentToken": "string",
                            "decisionResponse": {
                              "decisionResponseTimeStamp": "string",
                              "declineRuleType": "string",
                              "impulseDelayExpired": true,
                              "flexResponse": {
                                "controlType": "string",
                                "secondaryCredential": {
                                  "documentId": "string",
                                  "primaryAccountNumber": "string",
                                  "expirationDate": {
                                    "mm": "string",
                                    "yy": "string"
                                  }
                                },
                                "primaryCredential": {
                                  "documentId": "string",
                                  "primaryAccountNumber": "string",
                                  "expirationDate": {
                                    "mm": "string",
                                    "yy": "string"
                                  }
                                },
                                "ruleId": "string"
                              },
                              "declineRuleCategory": "string",
                              "declineControlTargetType": "string",
                              "responseMessage": "CARD_NOT_ENROLLED",
                              "declineRuleDetail": {
                                "triggeringAppID": "string",
                                "ruleCategory": "PCT_GLOBAL",
                                "thresholdAmount": 0,
                                "userIdentifier": "string",
                                "alertReason": " DECLINE_TRANS_LIMIT",
                                "ruleType": "TCT_ATM_WITHDRAW",
                                "userInformation": {
                                  "applicationDefinedAttributes": [
                                    "string"
                                  ],
                                  "bankingIdentifier": "string",
                                  "name": "string"
                                },
                                "controlTargetType": "string"
                              },
                              "shouldAlert": true,
                              "declineThresholdAmount": 0,
                              "alertsRuleDetail": [
                                {
                                  "triggeringAppID": "string",
                                  "ruleCategory": "PCT_GLOBAL",
                                  "thresholdAmount": 0,
                                  "userIdentifier": "string",
                                  "alertReason": "DECLINE_TRANS_LIMIT",
                                  "ruleType": "TCT_ATM_WITHDRAW",
                                  "userInformation": {
                                    "applicationDefinedAttributes": [
                                      "string"
                                    ],
                                    "bankingIdentifier": "string",
                                    "name": "string"
                                  },
                                  "controlTargetType": "string"
                                }
                              ],
                              "shouldDecline": true
                            },
                            "transactionControlsnapshot": [
                              {
                                "globalControls": [
                                  {
                                    "shouldDeclineAll": false,
                                    "declineThreshold": 0,
                                    "isControlEnabled": true,
                                    "userIdentifier": "string",
                                    "alertThreshold": 0,
                                    "declineAllNonTokenizeTransactions": true,
                                    "userInformation": {
                                      "applicationDefinedAttributes": [
                                        "string"
                                      ],
                                      "bankingIdentifier": "string",
                                      "name": "string"
                                    },
                                    "spendLimit": {
                                      "startDateTime": "string",
                                      "declineThreshold": 0,
                                      "timeZoneID": "string",
                                      "alertThreshold": 0,
                                      "type": "LMT_MONTH",
                                      "endDateTime": "string",
                                      "currentPeriodSpend": 0,
                                      "recurringCycleTime": 0
                                    },
                                    "transactionLimit": {
                                      "currentTransactionCount": 4,
                                      "maxTransactionCount": 6
                                    },
                                    "filterByCountry": {
                                      "controlDisabledCountryList": [
                                        "string"
                                      ],
                                      "controlEnabledCountryList": [
                                        "string"
                                      ]
                                    },
                                    "shouldAlertOnDecline": true,
                                    "timeRange": {
                                      "timeZoneID": "string",
                                      "startTime": "string",
                                      "endTime": "string"
                                    }
                                  }
                                ],
                                "shouldDecouple": true,
                                "lastUpdateTimeStamp": "string",
                                "documentID": "string",
                                "createdOnDate": "string"
                              }
                            ],
                            "primaryAccountNumber": "string",
                            "decisionID": "string",
                            "decisionRequest": {
                              "serviceType": [
                                "CTC"
                              ],
                              "pointOfServiceInfo": {
                                "securityCondition": "NO_SECURITY_CONCERN",
                                "personalIdentificationNumberEntryMode": "UNKNOWN",
                                "primaryAccountNumberEntryMode": "UNKNOWN",
                                "terminalClass": {
                                  "isAttended": true,
                                  "howOperated": "CUSTOMER_OPERATED",
                                  "deviceLocation": "ON_PREMISE"
                                },
                                "presentationData": {
                                  "isCardPresent": true,
                                  "howPresented": "CUSTOMER_PRESENT"
                                },
                                "terminalEntryCapability": "UNKNOWN",
                                "terminalType": "POS_TERMINAL"
                              },
                              "transactionTypes": [
                                "TCT_OCT"
                              ],
                              "processingCode": "string",
                              "decisionRequestTimeStampInMs": "string",
                              "retrievalReferenceNumber": "string",
                              "fxInfo": {
                                "crossCurrencyIndicator": true,
                                "visaExchangeRate": 0
                              },
                              "merchantInfo": {
                                "city": "string",
                                "countryCode": "string",
                                "postalCode": "string",
                                "transactionAmount": 0,
                                "merchantCategoryCode": "string",
                                "cardAcceptorTerminalID": "string",
                                "name": "string",
                                "addressLines": [
                                  "string"
                                ],
                                "region": "string",
                                "currencyCode": "string"
                              },
                              "transactionID": "string",
                              "cardholderBillAmount": 0,
                              "messageType": "0100",
                              "billerCurrencyCode": "string",
                              "cardDetail": {
                                "nameOnCard": "string",
                                "sequenceOnCard": "string"
                              },
                              "decisionType": "RECOMMENDED",
                              "decisionRequestTimeStamp": "string",
                              "dateTimeLocal": "string",
                              "wasProcessorDeclined": true
                            },
                            "decisionUpdate": {
                              "transactionApproved": "DECLINED",
                              "cardholderBillAmount": 0,
                              "declineResponseCode": "string",
                              "billerCurrencyCode": "string",
                              "lastUpdateTimeStamp": "string",
                              "transactionAmount": 0,
                              "decisionType": "COMPLETE",
                              "isDeclineResultOfTransactionControl": true
                            }
                          }
                        ],
                        "status": "AVAILABLE_RECORDS"
                      },
                      "processingTimeinMs": 0
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "decisionRequest",
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1vctc~1validation~1v1~1consumertransactioncontrols~1decisioninquiry/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/vctc/validation/v1/decisions": {
      "post": {
        "tags": [
          "Authorization Decision API"
        ],
        "summary": "Request a decision on pending transaction or send notification or advice for completed transaction",
        "description": "Request a decision on pending transaction or send notification/advice for completed transaction",
        "operationId": "createDecisionTransactionUsingPOST",
        "requestBody": {
          "description": "decisionRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DecisionRequest-1"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "pointOfServiceInfo": {
                      "securityCondition": "IDENTIFICATION_VERIFIED",
                      "terminalClass": {
                        "isAttended": false,
                        "howOperated": "CUSTOMER_OPERATED",
                        "deviceLocation": "ON_PREMISE"
                      },
                      "presentationData": {
                        "isCardPresent": true,
                        "howPresented": "CUSTOMER_PRESENT"
                      },
                      "terminalEntryCapability": "MAG_STRIPE_READ",
                      "terminalType": "POS_TERMINAL"
                    },
                    "cardholderBillAmount": 100,
                    "messageType": "0100",
                    "processingCode": "000000",
                    "decisionType": "RECOMMENDED",
                    "primaryAccountNumber": "4514170000000001",
                    "retrievalReferenceNumber": "000000000002",
                    "merchantInfo": {
                      "city": "Highlands Ranch",
                      "countryCode": "USA",
                      "postalCode": "80130",
                      "transactionAmount": 10,
                      "merchantCategoryCode": "5310",
                      "name": "POS at ",
                      "addressLines": [
                        "6675 Business Center Dr"
                      ],
                      "region": "CO",
                      "currencyCode": "840"
                    },
                    "dateTimeLocal": "0322080000",
                    "transactionID": "2132133231"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionResourceOfDecisionResponseType"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "receivedTimestamp": "2017-03-27 14:55:54.314",
                      "resource": {
                        "decisionResponse": {
                          "decisionResponseTimeStamp": "2017-03-27 14:55:54",
                          "declineRuleType": "TCT_BRICK_AND_MORTAR",
                          "declineRuleCategory": "PCT_TRANSACTION",
                          "declineThresholdAmount": 100,
                          "shouldDecline": true
                        },
                        "decisionID": "ctc-vd-0990b370-ec42-4ff6-9881-0406860dd50b"
                      },
                      "processingTimeinMs": 619
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "decisionRequest",
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1vctc~1validation~1v1~1decisions/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/vctc/customerrules/v1/consumertransactioncontrols/customer/notificationInquiry": {
      "post": {
        "tags": [
          "Alert History and Customer Profiles API"
        ],
        "summary": "Account Notifications Inquiry",
        "description": "Retrieves a summary of notifications based on either the primaryAccountNumber or paymentToken depending on which value is in the request.",
        "operationId": "getCustomerNotificationsByAccount",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationInquiryRequestPayload-1"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "includeContactDetails": true,
                    "pagination": {
                      "pageLimit": "10",
                      "startIndex": "1"
                    },
                    "includeAlertDetails": true,
                    "includeMerchantDetails": true,
                    "primaryAccountNumber": "4111748398761237"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionResourceNotificationDetails-1"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "receivedTimestamp": "2022-05-25 18:46:00.407",
                      "resource": {
                        "paginationData": {
                          "pageLimit": "10",
                          "startIndex": "1",
                          "lastPage": true,
                          "firstPage": true,
                          "recordCount": 1,
                          "totalPages": 1,
                          "totalCount": 1
                        },
                        "notificationDetails": [
                          {
                            "notificationDetailId": "ctc-vd-45366159-40c2-43fc-914e-7cf7177badfd",
                            "outBoundAlertsNotificationPayload": {
                              "transactionDetails": {
                                "cardholderBillAmount": 1000,
                                "nameOnCard": "hhh",
                                "userIdentifier": "4991104699359772",
                                "billerCurrencyCode": "840",
                                "requestReceivedTimeStamp": "2022-05-25 18:45:55",
                                "userInformation": {
                                  "applicationDefinedAttributes": [
                                    "APP"
                                  ],
                                  "bankingIdentifier": "BI",
                                  "name": "BOA"
                                },
                                "primaryAccountNumber": "xxxx-xxxx-xxxx-9772",
                                "retrievalReferenceNumber": "1101000000",
                                "merchantInfo": {
                                  "city": "Highlands Ranch",
                                  "countryCode": "USA",
                                  "postalCode": "80129",
                                  "transactionAmount": 1000,
                                  "merchantCategoryCode": "5942",
                                  "cardAcceptorTerminalID": "3101000000",
                                  "name": "COSTCO",
                                  "addressLines": [
                                    "ParkMeadows"
                                  ],
                                  "region": "CO",
                                  "currencyCode": "756"
                                },
                                "transactionID": "2101000000"
                              },
                              "transactionTypes": [
                                "TCT_ATM_WITHDRAW"
                              ],
                              "transactionOutcome": {
                                "decisionResponseTimeStamp": "2022-05-25 18:45:55",
                                "transactionApproved": "DECLINED",
                                "documentID": "ctc-vd-abddb5cf-d297-4e8d-beb6-380a22e3043b",
                                "notificationID": "ctc-vd-45366159-40c2-43fc-914e-7cf7177badfd",
                                "decisionID": "v-304-f1f11166-f3b3-4465-b995-61edb244c178",
                                "alertDetails": [
                                  {
                                    "triggeringAppID": "fae99da2-095d-438a-bcc2-4696eed1b846",
                                    "ruleCategory": "PCT_GLOBAL",
                                    "userIdentifier": "4991104699359772",
                                    "alertReason": "DECLINE_TRANS_LIMIT",
                                    "ruleType": "NONE",
                                    "userInformation": {
                                      "applicationDefinedAttributes": [
                                        "APP"
                                      ],
                                      "bankingIdentifier": "BI",
                                      "name": "BOA"
                                    },
                                    "controlTargetType": "CARD_LEVEL"
                                  }
                                ]
                              }
                            },
                            "outboundCallDetails": {
                              "httpVerb": "POST",
                              "httpResponseCode": 200,
                              "status": "SUCCESS"
                            }
                          }
                        ]
                      },
                      "processingTimeinMs": 70
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Forbidden Access",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {}
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {}
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {}
            }
          },
          "422": {
            "description": "Invalid Data",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {}
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-operationVersions": [
          {
            "label": "v1",
            "operationPointer": "#/paths/~1vctc~1customerrules~1v1~1consumertransactioncontrols~1customer~1notificationInquiry/post",
            "default": false
          },
          {
            "label": "v3 - Latest",
            "operationPointer": "#/paths/~1vctc~1customerrules~1v3~1consumertransactioncontrols~1customer~1notificationInquiry/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/vctc/customerrules/v1/consumertransactioncontrols/customer/{userIdentifier}": {
      "get": {
        "tags": [
          "Alert History and Customer Profiles API"
        ],
        "summary": "Retrieve an Existing Customer Profile by the userIdentifier",
        "description": "Retrieves an existing customer profile by the user identifier",
        "operationId": "getCustomerProfile",
        "parameters": [
          {
            "name": "userIdentifier",
            "in": "path",
            "description": "Uniquely identifies the cardholder who is to receive the alert message. The userIdentifier should be a GUID but at a minimum it must be unique per enrolling application and must not contain any PII data. It is mandatory for all VTC notifications. The maximum number of characters allowed is 72.",
            "required": true,
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionResourceCustomerProfileDocument-2"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "receivedTimestamp": "2017-08-16 11:39:43.945",
                      "resource": {
                        "customerDetails": {
                          "lastName": "Mishra",
                          "firstName": "Suresh",
                          "isProfileActive": true,
                          "preferredLanguage": "en-us",
                          "preferredCountryCode": "USA",
                          "defaultAlertsPreferences": [
                            {
                              "isVerified": true,
                              "contactValue": "suresh@gmail.com",
                              "contactType": "Email",
                              "status": "Active"
                            },
                            {
                              "isVerified": true,
                              "contactValue": "9820777197",
                              "contactType": "SMS",
                              "status": "Active"
                            },
                            {
                              "isVerified": false,
                              "contactValue": "45346tc3t34ogred435m",
                              "contactType": "Push",
                              "status": "Active"
                            }
                          ]
                        }
                      },
                      "processingTimeinMs": 267
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Forbidden Access",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {}
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {}
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {}
            }
          },
          "422": {
            "description": "Invalid Data",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {}
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-operationVersions": [
          {
            "label": "v1",
            "operationPointer": "#/paths/~1vctc~1customerrules~1v1~1consumertransactioncontrols~1customer~1{userIdentifier}/get",
            "default": false
          }
        ],
        "x-hideTryIt": true
      },
      "patch": {
        "tags": [
          "Alert History and Customer Profiles API"
        ],
        "summary": "Update an Existing Customer Profile by the userIdentifier",
        "description": "Updates an existing customer profile by the userIdentifier",
        "operationId": "updateCustomerProfile",
        "parameters": [
          {
            "name": "userIdentifier",
            "in": "path",
            "description": "The user identifier of the customer profile document",
            "required": true,
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerProfilePatchRequest-1"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "lastName": "Sandford III",
                    "firstName": "John",
                    "isProfileActive": true,
                    "preferredLanguage": "es-us",
                    "countryCode": "MX",
                    "defaultAlertsPreferences": [
                      {
                        "callingCode": "52",
                        "contactValue": "5555640037",
                        "contactType": "SMS",
                        "status": "Active"
                      }
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionResourceCustomerProfileDocument-1"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Forbidden Access",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {}
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {}
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {}
            }
          },
          "422": {
            "description": "Invalid Data",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {}
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-operationVersions": [
          {
            "label": "v1",
            "operationPointer": "#/paths/~1vctc~1customerrules~1v1~1consumertransactioncontrols~1customer~1{userIdentifier}/patch",
            "default": false
          }
        ]
      }
    },
    "/vctc/customerrules/v1/consumertransactioncontrols/customer/{userIdentifier}/alerts/preferences": {
      "put": {
        "tags": [
          "Alert History and Customer Profiles API"
        ],
        "summary": "Replaces one or more Existing Alert Preferences on an Enrolled Account (DEPRECATED)",
        "description": "Replaces existing alert preferences on the enrolled account",
        "operationId": "updateCustomerNotificationPreferences",
        "parameters": [
          {
            "name": "userIdentifier",
            "in": "path",
            "description": "The user identifier of the customer profile document",
            "required": true,
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertPreferencesRequest-1"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "alertPreferences": [
                      {
                        "alertType": "DECLINE_BY_SPEND_LIMIT",
                        "controlType": "MCT_ALCOHOL",
                        "contacts": [
                          {
                            "contactValue": "jsandford3@visavtc.com",
                            "contactType": "Email",
                            "preferredEmailFormat": "Plain",
                            "status": "Active"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionResourceCustomerProfileDocument-1"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "receivedTimestamp": "2017-03-21 04:56:12.551",
                      "resource": {
                        "lastName": "John",
                        "firstName": "Ric",
                        "isProfileActive": false,
                        "preferredLanguage": "en-us",
                        "userIdentifier": "8g2XUnKmMS",
                        "lastUpdateTimeStamp": "2017-08-16 11:59:05",
                        "preferredCountryCode": "USA",
                        "defaultAlertsPreferences": [
                          {
                            "isVerified": true,
                            "contactValue": "ric@abc.com",
                            "contactType": "Email",
                            "status": "Active"
                          },
                          {
                            "isVerified": true,
                            "contactValue": "9820777197",
                            "contactType": "SMS",
                            "status": "Active"
                          },
                          {
                            "isVerified": false,
                            "contactValue": "45346tc3t34ogred435m",
                            "contactType": "Push",
                            "status": "Active"
                          }
                        ],
                        "alertPreferences": [
                          {
                            "alertType": "DECLINE_ALL",
                            "controlType": "MCT_CAR_RENTAL",
                            "contacts": [
                              {
                                "isVerified": true,
                                "contactValue": "suresh@yahoo.co.in",
                                "contactType": "Email",
                                "status": "Active"
                              }
                            ]
                          }
                        ]
                      },
                      "processingTimeinMs": 10
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Forbidden Access",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {}
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {}
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {}
            }
          },
          "422": {
            "description": "Invalid Data",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {}
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-operationVersions": [
          {
            "label": "v1",
            "operationPointer": "#/paths/~1vctc~1customerrules~1v1~1consumertransactioncontrols~1customer~1{userIdentifier}~1alerts~1preferences/put",
            "default": false
          }
        ],
        "x-hideTryIt": true
      },
      "post": {
        "tags": [
          "Alert History and Customer Profiles API"
        ],
        "summary": "Add one or more Tailored Alert Preferences to an Enrolled Account (DEPRECATED)",
        "description": "Adds one or more alert preferences to the enrolled account",
        "operationId": "createNotificationPreferences",
        "parameters": [
          {
            "name": "userIdentifier",
            "in": "path",
            "description": "The user identifier of the customer profile document",
            "required": true,
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertPreferencesRequest-1"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "portfolioID": "003",
                    "alertPreferences": [
                      {
                        "alertType": "DECLINE_ALL",
                        "controlType": "MCT_GAMBLING",
                        "contacts": [
                          {
                            "callingCode": "1",
                            "contactValue": "2024581233",
                            "contactType": "SMS",
                            "status": "Active"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionResourceCustomerProfileDocument-1"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "receivedTimestamp": "2017-03-21 04:56:12.551",
                      "resource": {
                        "lastName": "John",
                        "firstName": "Ric",
                        "isProfileActive": false,
                        "preferredLanguage": "en-us",
                        "userIdentifier": "8g2XUnKmMS",
                        "lastUpdateTimeStamp": "2017-08-16 11:59:05",
                        "preferredCountryCode": "USA",
                        "defaultAlertsPreferences": [
                          {
                            "isVerified": true,
                            "contactValue": "ric@abc.com",
                            "contactType": "Email",
                            "status": "Active"
                          },
                          {
                            "isVerified": true,
                            "contactValue": "9820777197",
                            "contactType": "SMS",
                            "status": "Active"
                          },
                          {
                            "isVerified": false,
                            "contactValue": "45346tc3t34ogred435m",
                            "contactType": "Push",
                            "status": "Active"
                          }
                        ],
                        "alertPreferences": [
                          {
                            "alertType": "DECLINE_ALL",
                            "controlType": "TCT_ATM_WITHDRAW",
                            "contacts": [
                              {
                                "isVerified": true,
                                "contactValue": "suresh@yahoo.co.in",
                                "contactType": "Email",
                                "status": "Active"
                              }
                            ]
                          }
                        ]
                      },
                      "processingTimeinMs": 10
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Forbidden Access",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {}
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {}
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {}
            }
          },
          "422": {
            "description": "Invalid Data",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {}
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-operationVersions": [
          {
            "label": "v1",
            "operationPointer": "#/paths/~1vctc~1customerrules~1v1~1consumertransactioncontrols~1customer~1{userIdentifier}~1alerts~1preferences/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      },
      "delete": {
        "tags": [
          "Alert History and Customer Profiles API"
        ],
        "summary": "Removes one or more Existing Alert Preferences from an Enrolled Account (DEPRECATED)",
        "description": "Removes one or more alert preferences from the enrolled account",
        "operationId": "deleteCustomerNotificationPreferences",
        "parameters": [
          {
            "name": "userIdentifier",
            "in": "path",
            "description": "The user identifier of the customer profile document",
            "required": true,
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertPreferencesRequest-1"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "alertPreferences": [
                      {
                        "alertType": "DECLINE_BY_SPEND_LIMIT",
                        "controlType": "MCT_ALCOHOL",
                        "contacts": [
                          {
                            "contactValue": "jsandford3@visavtc.com",
                            "contactType": "Email"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionResourceCustomerProfileDocument-1"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "receivedTimestamp": "2017-03-21 04:56:12.551",
                      "resource": {
                        "lastName": "John",
                        "firstName": "Ric",
                        "isProfileActive": false,
                        "preferredLanguage": "en-us",
                        "userIdentifier": "8g2XUnKmMS",
                        "lastUpdateTimeStamp": "2017-08-16 11:59:05",
                        "preferredCountryCode": "USA",
                        "defaultAlertsPreferences": [
                          {
                            "isVerified": true,
                            "contactValue": "ric@abc.com",
                            "contactType": "Email",
                            "status": "Active"
                          },
                          {
                            "isVerified": true,
                            "contactValue": "9820777197",
                            "contactType": "SMS",
                            "status": "Active"
                          },
                          {
                            "isVerified": false,
                            "contactValue": "45346tc3t34ogred435m",
                            "contactType": "Push",
                            "status": "Active"
                          }
                        ]
                      },
                      "processingTimeinMs": 10
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Forbidden Access",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {}
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {}
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {}
            }
          },
          "422": {
            "description": "Invalid Data",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {}
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-operationVersions": [
          {
            "label": "v1",
            "operationPointer": "#/paths/~1vctc~1customerrules~1v1~1consumertransactioncontrols~1customer~1{userIdentifier}~1alerts~1preferences/delete",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/vctc/customerrules/v1/consumertransactioncontrols/customer/{userIdentifier}/{documentId}/alerts/preferences": {
      "put": {
        "tags": [
          "Alert History and Customer Profiles API"
        ],
        "summary": "Replaces one or more Existing Alert Preferences on an Enrolled Account",
        "description": "Replaces existing alert preferences on an enrolled account",
        "operationId": "updateCustomerNotificationPreferencesV2",
        "parameters": [
          {
            "name": "userIdentifier",
            "in": "path",
            "description": "The user identifier of the customer profile document",
            "required": true,
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertPreferencesRequestV2-1"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "alertPreferences": [
                      {
                        "alertType": "DECLINE_BY_SPEND_LIMIT",
                        "controlType": "MCT_ALCOHOL",
                        "contacts": [
                          {
                            "contactValue": "jsandford3@visavtc.com",
                            "contactType": "Email",
                            "preferredEmailFormat": "Plain",
                            "status": "Active"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionResourceCustomerProfileDocument-1"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "receivedTimestamp": "2020-04-01 21:38:24.004",
                      "resource": {
                        "lastName": "eric",
                        "firstName": "john",
                        "isProfileActive": true,
                        "preferredLanguage": "en-us",
                        "cards": [
                          {
                            "portfolioID": "005",
                            "documentID": "ctc-vd-8f76cee1-5a87-4cb2-aa4e-9ee76c6a0ade",
                            "primaryAccountNumber": "xxxx-xxxx-xxxx-3008",
                            "alertsPreferences": [
                              {
                                "alertType": "DECLINE_BY_SPEND_LIMIT",
                                "controlType": "MCT_ALCOHOL",
                                "contacts": [
                                  {
                                    "isVerified": true,
                                    "contactValue": "jsandford3@visavtc.com",
                                    "contactType": "Email",
                                    "preferredEmailFormat": "Plain",
                                    "status": "Active"
                                  }
                                ]
                              }
                            ]
                          }
                        ],
                        "userIdentifier": "jjohn123",
                        "lastUpdateTimeStamp": "2020-04-01 21:38:28",
                        "preferredCountryCode": "USA",
                        "defaultAlertsPreferences": [
                          {
[...]
